body{
    background-color: aquamarine;
}
h1{
    text-align: center;

}
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}
fieldset {
    background-color: #eeeeee;
}
fieldset {
    margin-left: 50%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
input{
    margin: 5px;
}