<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index hjemmeside</title>
    <link rel="stylesheet" type="text/css" href="HomeCSS.css">


</head>
<body>
<h1>BRO!!</h1>
<h2>I just discovered your poor as fuck. Do yourself a favor and get some free money, on me champ</h2>
<img src="src/main/resources/static/arrow_down.png">
<fieldset>
    <legend>Free Munaies nut a scam</legend>
    <form action="/Get-Info" method="POST" >
    <label for="fName">Navn</label> <input type="text" name="fName" id="fName" size="50" placeholder="Klik her"> <br>
    <label for="Mail">Mail</label> <input type="text" name="Mail" id="Mail" size="50" placeholder="Klik her"> <br>
    <input type="submit" value="Send">
    </form>
</fieldset>

</body>
</html>